#controls {
	width:360px; 
	height:auto; 
	padding: 6px 0;
	background:rgba(0,0,0,.5);
	-webkit-transition:0.5s ease all;
	text-align: center;
}
.button {
	margin: 6px auto;
	padding: 6px 0;
	width: 112px;
	background: #ccc;
	color: #fff;
		cursor:pointer;
}
.currentTime {
	text-align: center;
	background: #0a0a0a;
	color: yellow;
	width: 112px;
	margin: auto;
}