  *, 
  *:before, 
  *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  .gridSyetem {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .gridSyetem:after {
    content: " ";
    display: table;
    clear: both;
  }

  .row {
    display: block;
    clear: both;
    width: 100%;
  }

  /* Columns */
  .columns {
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    /* temp */
    height: 196px;
  }

  .col-1 {
    width: 16.66%;
    background: silver;
  }

  .col-2 {
    width: 33.33%;
    
  }

  .fandens article {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  /* rules for the visual slider */
  .columns h2 {
    display: none;
  }

  .description {
    padding: 15px;
    background: rgba(106, 220, 38, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    padding: 15px;
    overflow: hidden;
  }

  .columns img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  @media only screen and (max-width: 40em) { 
    .col-1 {
      width: 33.33%;
      background: silver;
    }

    .col-2 {
      width: 66.66%;
      background: #999;
    }
  } 