.example {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#FFF;
	border:1px #000 solid;
	height:600px;
	margin:20px auto;
	padding:15px;
	position:relative;
	width:800px;
}

.main_content {
	left:5%;
	right: 5%;
	overflow:auto;
	position:absolute;
	top:5%;
	bottom: 5%;
	/* width:90%; */
}

.ssb_down {
	background:transparent url(../images/scrollbars/icon-arrow-down.png);
	bottom:0;
}

.ssb_sb {
	background:transparent url(../images/scrollbars/middle.png);
}

.ssb_sb_down {
	background:transparent url(../images/scrollbars/middrag.png);
}

.ssb_sb_over {
	background:transparent url(../images/scrollbars/midhover.png);
}

.ssb_st {
	background:transparent url(../images/scrollbars/back.png);
	height:100%;
}

.ssb_up {
	background:transparent url(../images/scrollbars/icon-arrow-up.png);
}


.ssb_down, .ssb_sb {
	cursor:pointer;
	position:absolute;
	right:0;
}

.ssb_st, .ssb_up  {
	cursor:pointer;
	position:absolute;
	right:0;
	top:0;
}

.parent {
	font-family:verdana;
	height:100%;
	padding:10px;
	position:relative;
}