/* Global style rules for the select box drop down */

.global-dropdown, 
.global-dropdown-open {
	float: left;
	width: 100%;
	padding: 0;
}

.global-dropdown a {
	text-decoration: none;
	font-size: 0.7em;
}

.global-dropdown .current, 
.global-dropdown-open .current {
	display: block;
	background: #fff url('../images/selectbox/selectbox_arrow_sprite.png') no-repeat 97% 11px;
	padding: 8px 6px;
	font-family: "Verdana", Arial, sans-serif;
	color: #8b8b8b;
	border: 1px solid #e2e2e2;
}

.global-dropdown .selectOpen, 
.global-dropdown-open .selectOpen {
	background-position: 97% -90px;
}

.global-dropdown .content,
.global-dropdown-open .content  {
	position: relative;
	height: 0;
	overflow: hidden;
	max-height: 100px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.14);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.14);
}

.global-select-field select {
	width: 99%;
	display: block;
}

.global-dropdown ul, .global-dropdown-open ul {
	list-style: none;
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
}

.global-dropdown li, .global-dropdown-open li {
	display: block;
	width: 100;
}

.global-dropdown li.odd, .global-dropdown-open li.odd {
	background: #e6e6e6;
}

.global-dropdown li.even, .global-dropdown-open li.even {
	background: #ffffff;
}

.global-dropdown li a, .global-dropdown-open li a {
	display: block;
	padding: 7px 6px;
	color: #919191;
	text-align: left;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #f4f4f4;
	width: 100%;
}

.global-dropdown li a:hover, .global-dropdown-open li a:hover {
	background: #d3d3d3;
}

.global-dropdown .scrollbartop, 
.global-dropdown-open .scrollbartop,
.global-dropdown .scrollbarbottom, 
.global-dropdown-open .scrollbarbottom {
	position: absolute;
	right: 50%;
	left: 50%;
	width: 30px;
	background: #cccccc;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.5;
	display: none;
}


.global-dropdown .scrollbartop, 
.global-dropdown-open .scrollbartop {
	top: 0;
}

.global-dropdown .scrollbarbottom, 
.global-dropdown-open .scrollbarbottom {
	bottom: 0;
}

.global-dropdown .scrollable {
	height: auto;
	-wekit-overflow-scrolling: touch; 
	position: relative; 
	overflow: hidden;
	overflow-y: scroll;
	overflow-y: hidden;
	max-height: 120px;
}