.carousel {
}

.carousel-inner {
	overflow: hidden;
	background: red;
	width: 100%;
}

.carousel-inner ul,
.carousel-navigation ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	left:0;
	right:0;
	bottom:0;
}

.carousel-inner ul {
	z-index: 0;
}

.carousel-navigation ul {
	z-index: 1;
}

.carousel-inner li {
	padding: 0;
	margin: 0;
	float: left;
	background: yellow;
	width: 100%;
	filter: alpha(opacity = 40); zoom:1;
	opacity: 0.4;
}

.carousel-inner li.active {
	filter: alpha(opacity = 100); zoom:1;
	opacity: 1;
}

/* navigation */
.carousel-navigation {
	list-style-type: none;
	list-style: none;
	margin: 0 auto;
	position: relative;
	left: 0;
	width: 100%;
	text-align: center;
	display: none;
}

.carousel-navigation li {
	width: 77px;
	display: table;
	height: 100%;
}


.carousel-navigation li div {
   	display: table-cell;
   	text-align: center;
   	vertical-align: middle;
   	background: #ffffff;
   	padding: 10px;
	filter: alpha(opacity=100);
	opacity: 1;
}

.carousel-navigation li div:hover {
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.left_scroll, .right_scroll{
	position: absolute;
	background: #ffffff;
	width: 40px;
}

.left_scroll span, .right_scroll span {
	display: block;
	background: #ffffff;
	color: #000000;
	text-align: center;
	font-size: 1.2em;
	height: 8px;
}

.right_scroll {
	cursor: pointer;
	cursor: hand;
	content: " &raquo; ";
	content: " &laquo dddd";
	top: 0;
	bottom: 0;
	right: 0;
	background: #ffffff;
}

.left_scroll {
	cursor: pointer;
	cursor: hand;
	content: " &laquo ";
	top: 0;
	bottom: 0;
	left: 0;
	background: #ffffff;
}


@media only screen and (max-width: 490px) {
	.carousel-navigation li {
		width: 40px;
	}
}

