.video-player .video-close-button {
	position: absolute;
	left: 25px;
	top: 25px;
	z-index: 201;
	background: #fff;
	/*display: none;*/
}

.video-player .video-close-button a {
	display: block;
	padding: 6px 9px 5px 9px;
	color: #000;
	font-size: 0.938em;
	font-family: Verdana, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

.video-player .video-close-button.mobile {
	position: relative;
	top: 0;
	left: 0;
	/*display: none;*/
	z-index: 500;
	width: 100%;
	height: 5%;
	background: #000;
}

.video-player .video-close-button.mobile a {
	float: left;
	display: block;
	height: 100%;
	width: 100%;
	padding: 8px 0 0 0;
	line-height: 1em;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.25em;
	background: #000;
}

.video-player .video-close-button.mobile:after {
	content: "";
	display: block;
	clear: both;
}

/*---------------------------------------------*/
/* Video player
/*--------------------------------------------*/
.player-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
}

#close_btn {
	position: absolute;
	z-index: 3002;
	background: #ffffff;
	padding: 10px 20px;
	right: 10px;
	top: 10px;
	font-size: 12px;
	text-align: center;
	font-family: "Arial", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#close_btn:hover {
	background: rgba(255, 255, 255, 0.9);
}

.large-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 84px;
	height: 84px;
	margin: -42px 0 0 -42px;
	text-indent: 105%;
	font-size: 0.1em;
	white-space: nowrap;
	overflow: hidden;
	z-index: 100;
	background: transparent url('../images/videoplayer/large-play-button.png') no-repeat 0 -85px;
	cursor: pointer;
}

.large-play-button:hover {
	background-position: 0 0;
}

.video-player .controls-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3001;
}

.video-player .controls {
	position: absolute;
	bottom: 65px;
	z-index: 101;
	width: 100%;
	text-align: center;
}

.video-player .play-button {
	display: inline-block;
	width: 44px;
	height: 44px;
	text-indent: 105%;
	white-space: nowrap;
	font-size: 0.01em;
	overflow: hidden;
	background: transparent url('../images/videoplayer/small-play-button.png') no-repeat 0 0;

}

.video-player .play-button.active {
	background-position: 0 -44px;
}

.video-player .play-button:hover {
	background-position: 0 -88px;
}

.video-player .play-button.active:hover {
	background-position: 0 -132px;
}

.progress-bar {
	position: relative;
	width: 309px;
	height: 1px;
	margin: 14px auto 0 auto;
	background: #5c5959;
}

.progress-bar .progress {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 0;
	height: 100%;
	background: #fff;
}

.video-player .handle,
.audio-player .handle {
	position: absolute;
	top: -4px;
	left: 0;
	margin-left: -4px;
	width: 9px;
	height: 9px;
	z-index: 10;
	background: transparent url('../images/videoplayer/progress-handle.png') no-repeat 0 0;
}

.progress-bar .hitarea,
.progress-bar .loaded {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 0;
	height: 100%;
}

.video-player .progress-bar .hitarea,
.video-player .progress-bar .loaded {
	width: 100%;
}

.progress-bar .loaded {
	z-index: 3;
	background: #bea788;
}

/* A video player container */
.video-content {
	height: 531px;
	width: 100%;
	position: relative;
	margin: 0 0 20px 0;	
	padding: 0;
	display: block;
	overflow: hidden;
	z-index: 1;
	background: #cccccc;

}

.video-content .video-mask {
	height: 42px;
	background: #ffffff;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: -2px;
	left: -1px;
	right: -1px;
	z-index: 9000;
	display: none;
}

.video_placeholder_image {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #cccccc;
}

.video_placeholder_image .table {
	width: 100%;
	height: 100%;
	display: table;
}

.video_placeholder_image .table .row {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#video_overlay_container {
	display: none;
}

.video-player {
	margin-bottom: -80px;
}

@media (max-width: 680px) {
	.progress-bar,
	.video-player .controls {
		display: none;
	}
}
