<!DOCTYPE html>
<html lang="en"> <!-- zh for chinese -->
	<head>

       
<style type="text/css" media="all">
	@import url("css/video-player.css");
	@import url("css/tiled-carousel.css");
	@import url("css/map.css");
	@import url("css/selectbox.css");
</style>

</head>
<body>
<!-- script template start -->
      <script id="dropdown-template" type="text/x-handlebars-template">
        <div class="global-dropdown">
          <a href="#" class="current">{{defaultOption}}</a>
          <div class="content">
            <div class="scrollable">
              <ul>
                {{#each options}}
                  <li class="{{optionClass}}"><a href="{{this.optionValue}}">{{this.optionLabel}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="scrollbartop">&#x25B2;</div>
            <div class="scrollbarbottom">&#x25BC;</div>
          </div>
        </div>
      </script>
      <!-- script template end -->
<!-- ////////////////////////////////////// selectbox start -->
<div class="form-layout" style="margin-bottom: 300px;">
<form action="/fff" method="post">
	 <!-- working on adding the dropdown select OPEN -->
     <div>
     
     

      <label for="selectBoxElement">Year selection</label>
      <select id="selectBoxElement" class="type-selection0" data-default-label="year">
      	  <option selected="selected">YYYY</option>
          <option value="1900">1900</option>
          <option value="1910">1910</option>
          <option value="1920">1920</option>
          <option value="1930">1930</option>
          <option value="1940">1940</option>
          <option value="1950">1950</option>
          <option value="1960">1960</option>
          <option value="1970">1970</option>
          <option value="1980">1980</option>
          <option value="1990">1990</option>
          <option value="2000">2000</option>
      </select>
      <div class="dumpSelectBoxHere"><!-- YEARS SELECTION HERE --></div>

      <label for="day">Day selection</label>
      <select id="day" class="type-selection1" data-default-label="day">
      	  <option selected="selected">DDDD</option>
          <option value="1900">Mon</option>
          <option value="1910">Tus</option>
          <option value="1920">Wes</option>
          <option value="1930">SO</option>
          <option value="1940">ON</option>
          <option value="1950">AND</option>
          <option value="1960">ON</option>
          <option value="1950">AND</option>
          <option value="1960">ON</option>
          <option value="1950">AND</option>
          <option value="1960">ON</option>
          <option value="1950">AND</option>
          <option value="1960">ON</option>
          <option value="1950">AND</option>
          <option value="1960">ON</option>
      </select>
      <div class="dumpSelectBoxHere"><!-- YEARS SELECTION HERE --></div>

    </div>
     <!-- working on adding the dropdown select CLOSE -->
     <div>
     	<label for="username">user name</label>
     	<input id="username" value="" placeholder="User Name" />
     </div>
     <input type="submit" value="submit">
</form>
</div>
<!-- ///////////////////////////////////// selectbox end -->
   

        <!-- 3rd party js libs & API's  -->
		<script type="text/javascript" src="js/libs/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/libs/handlebars.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;language=en"></script>


		<!-- libs -->
		<script type="text/javascript" src="js/gaco/Utils.js"></script>
		<script type="text/javascript" src="js/gaco/EventDispatcher.js"></script>
		<script type="text/javascript" src="js/gaco/Polyfills.js"></script>
		<script type="text/javascript" src="js/gaco/ProgressBar.js"></script>
		<script type="text/javascript" src="js/gaco/video/StandardYouTubePlayer.js"></script>
		<script type="text/javascript" src="js/gaco/video/BasicYouTubePlayer.js"></script>
		<script type="text/javascript" src="js/gaco/video/Controls.js"></script>
		<script type="text/javascript" src="js/gaco/TiledCarousel.js"></script>
		<script type="text/javascript" src="js/gaco/Maps.js"></script>
		<script type="text/javascript" src="js/gaco/CustomSelectBox.js"></script>


		<!-- custom scripts -->
		<script type="text/javascript" src="js/projectName/views/GlobalView.js"></script>	
		<script type="text/javascript" src="js/projectName/views/global/video/VideoPlayer.js"></script>
		<script type="text/javascript" src="js/projectName/views/VideoView.js"></script>
		<script type="text/javascript" src="js/projectName/views/CarouselView.js"></script>
		<script type="text/javascript" src="js/projectName/views/MapView.js"></script>
		<script type="text/javascript" src="js/projectName/views/CustomSelectBoxView.js"></script>
		<script type="text/javascript" src="js/projectName/controllers/MainController.js"></script>


</body>
</html>